
body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  /*background: linear-gradient(45deg, #0C1B39ff, #99CF88ff);*/
  margin: 0;
  padding: 20px;
  flex-direction: column;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#wone {
  display: inline; /* Makes <h1> elements inline so they appear on the same line */
  margin: 0; /* Removes default margin from <h1> elements */
  padding: 0; /* Removes default padding from <h1> elements */

  color: yellowgreen;
  font-weight: 900;
}
#fit {
  display: inline; /* Makes <h1> elements inline so they appear on the same line */
  margin: 0; /* Removes default margin from <h1> elements */
  padding: 0; /* Removes default padding from <h1> elements */

  color:midnightblue;
  font-weight: 700;
}

#buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 2em;
}

.hidden {
  display: none;
}
.container {
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
table {
  width: 100%;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}

@media screen and (min-width: 751px) {
  .container {
    max-width: 40vw;
  }
}