body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  /*background: linear-gradient(45deg, #0C1B39ff, #99CF88ff);*/
  margin: 0;
  padding: 20px;
}
#buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.hidden {
  display: none;
}
.container {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  margin: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}

@media screen and (min-width: 751px) {
  .container {
    max-width: 40vw;
  }
}